<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/balance.css}">
	</head>
<body>
	<!-- 共通ヘッダ -->
	<header class="header" id="header"></header>
	<div class="header-space"></div>
	<!-- 収支登録画面 -->
	<div class="balance-add-page">
		<div class="page-title">収支登録</div>
			<div class="error-area">
				<tr th:each="error : ${errorMessages}">
					<td th:text="${error}" /><br>
				</tr>
			</div>
			<!-- 収支切替タブ -->
			<div class="tab_box">
				<div class="btn_area">
					<p class="tab_btn income-tab w-50" id="income">収入</p>
					<p class="tab_btn expense-tab active w-50">支出</p>
				</div>
				<div class="panel_area">

					<!-- 収入登録フォーム -->
					<div class="add_form income-form">
						<form th:action="@{/premiere/balance/add}" th:object="${formModel}" th:method="post">
							<table class="table income-table">
								<tbody>
									<tr>
										<th class="col-3">発生日</th>
										<td class="col-9">
											<input type="date" name="accrualDate" th:field="*{accrualDate}" class="form-control"
												th:classappend="${#fields.hasErrors('accrualDate')} ? 'is-invalid'"/>
											<span class="text-danger" th:if="${#fields.hasErrors('accrualDate')}" th:errors="*{accrualDate}"></span>
										</td>
									</tr>
									<tr>
										<th>カテゴリ</th>
										<td>
											<select name="majorCategoryId"  class="form-control" th:field="*{majorCategoryId}"
												id="parent-income" th:classappend="${#fields.hasErrors('majorCategoryId')} ? 'is-invalid'">
												<option selected="selected" value="">選択してください</option>
												<option th:each="majorCategory : ${majorIncomeCategories}" th:value="${majorCategory.key}" th:text="${majorCategory.value}">
											</select>
											<select disabled name="subCategoryId" class="form-control" th:field="*{subCategoryId}"
												id="child-income" th:classappend="${#fields.hasErrors('subCategoryId')} ? 'is-invalid'">
												<option selected value="">選択してください</option>
												<option th:each="subCategory : ${subIncomeCategories}" th:value="${subCategory.key}" th:text="${subCategory.value}">
											</select>
											<span class="text-danger" th:if="${#fields.hasErrors('majorCategoryId')}" th:errors="*{majorCategoryId}"></span>
											<span class="text-danger" th:if="${#fields.hasErrors('subCategoryId')}" th:errors="*{subCategoryId}"></span>
										</td>
									</tr>
									<tr>
										<th>金額</th>
										<td>
											<input type="tel" name="amount" th:field="*{amount}" min="0" class="form-control"
												th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid'"/>
											<span class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
										</td>
									</tr>
									<tr>
										<th>メモ</th>
										<td><input type="text" name="memo" th:field="*{memo}" class="form-control"/></td>
									</tr>
									<tr>
										<th></th>
										<td>
											<input type="hidden" name="flag" th:value="0" />
											<input type="submit" value="登録" class="btn btn-income w-100"/>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>

					<!-- 支出登録フォーム -->
					<div class="add_form expense-form active">
						<form th:action="@{/premiere/balance/add}" th:object="${formModel}" th:method="post">
							<table class="table expense-table">
								<tbody>
									<tr>
										<th class="col-3">発生日</th>
										<td class="col-9">
											<input type="date" name="accrualDate" th:field="*{accrualDate}" class="form-control"
												th:classappend="${#fields.hasErrors('accrualDate')} ? 'is-invalid'"/>
											<span class="text-danger" th:if="${#fields.hasErrors('accrualDate')}" th:errors="*{accrualDate}"></span>
										</td>
									</tr>
									<tr>
										<th>カテゴリ</th>
										<td>
											<select name="majorCategoryId" id="sel-ex-major" class="parent form-control" th:field="*{majorCategoryId}"
												th:classappend="${#fields.hasErrors('majorCategoryId')} ? 'is-invalid'">
												<option selected="selected" value="">選択してください</option>
												<option th:each="majorCategory : ${majorExpenseCategories}" th:value="${majorCategory.key}" th:text="${majorCategory.value}" th:selected="${majorCategory.key} == *{majorCategoryId}">
											</select>
											<select disabled name="subCategoryId" id="sel-ex-sub" class="children form-control" th:field="*{subCategoryId}"
												th:classappend="${#fields.hasErrors('subCategoryId')} ? 'is-invalid'">
												<option selected value="">選択してください</option>
												<option th:each="subCategory : ${subExpenseCategories}" th:value="${subCategory.key}" th:text="${subCategory.value}" th:selected="${subCategory.key} == *{subCategoryId}">
											</select>
											<span class="text-danger" th:if="${#fields.hasErrors('majorCategoryId')}" th:errors="*{majorCategoryId}"></span>
											<span class="text-danger" th:if="${#fields.hasErrors('subCategoryId')}" th:errors="*{subCategoryId}"></span>
										</td>
									</tr>
									<tr>
										<th>金額</th>
										<td>
											<input type="tel" name="amount" th:field="*{amount}" min="0" class="form-control"
												th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid'"/>
											<span class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
										</td>
									</tr>
									<tr>
										<th>メモ</th>
										<td><input type="text" name="memo" th:field="*{memo}" class="form-control" /></td>
									</tr>
									<tr>
										<th></th>
										<input type="hidden" name="flag" th:value="1" />
										<td><input type="submit" value="登録" class="btn btn-expense w-100"/></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
			<input type="hidden" id="balanceflag" th:value="${balanceflag}">
			<input type="hidden" id="selflag" th:value="${selflag}">
		</div>
		<!-- jQuery, Popper.js, BootStrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/main.js" th:src="@{/js/main.js}"></script>
		<script src="/js/select.js" th:src="@{/js/select.js}"></script>
		<script src="/js/tab.js" th:src="@{/js/tab.js}"></script>
</body>
</html>