<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/balance.css}">
	</head>
	<body>
		<!-- 共通ヘッダ -->
		<header class="header" id="header"></header>
		<div class="header-space"></div>
		<!-- 収支編集ページ -->
		<div class="contents">
			<div class="balance-edit-page">
			<div class="page-title">収支編集</div>
				<div class="balance-edit-form">
					<form th:action="@{/premiere/balance/edit/{id}(id=${formModel.id})}" th:object="${formModel}" th:method="post">
						<table class="table table-hover balance-edit-table">
							<tbody>
								<tr>
									<td><label for="name">発生日</label></td>
									<td><input type="date" name="accrualDate"  class="form-control" th:field="*{accrualDate}" /></td>
								</tr>
								<th:block th:if="${formModel.flag == 1}">
								<tr>
									<td><label for="name">カテゴリ</label></td>
									<td>
										<select name="majorCategoryId" class="parent form-control" th:field="*{majorCategoryId}">
											<option disabled value="">選択してください</option>
											<option th:each="majorCategory : ${majorExpenseCategories}" th:value="${majorCategory.key}" th:text="${majorCategory.value}" th:selected="${majorCategory.key} == *{majorCategoryId}">
										</select>
										<select name="subCategoryId" class="children form-control" th:field="*{subCategoryId}">
											<option disabled value="">選択してください</option>
											<option th:each="subCategory : ${subExpenseCategories}" th:value="${subCategory.key}" th:text="${subCategory.value}">
										</select>
									</td>
								</tr>
								</th:block>
								<th:block th:if="${formModel.flag == 0}">
									<tr>
										<td><label for="name">カテゴリ</label></td>
										<td>
											<select name="majorCategoryId" class="incomeparent form-control" th:field="*{majorCategoryId}">
												<option disabled selected value="">選択してください</option>
												<option th:each="majorCategory : ${majorIncomeCategories}" th:value="${majorCategory.key}" th:text="${majorCategory.value}">
											</select>
											<select name="subCategoryId" class="incomechildren form-control" th:field="*{subCategoryId}">
												<option disabled selected value="">選択してください</option>
												<option th:each="subCategory : ${subIncomeCategories}" th:value="${subCategory.key}" th:text="${subCategory.value}">
											</select>
										</td>
									</tr>
								</th:block>
								<tr>
									<td><label for="name">金額</label></td>
									<td><input type="tel" name="amount" class="form-control" th:field="*{amount}" min="0" /></td>
								</tr>
								<tr>
									<td><label for="name">MEMO</label></td>
									<td><input type="text" name="memo" class="form-control" th:field="*{memo}" /></td>
								</tr>
								<tr>
									<td><input type="hidden" name="flag" th:field="*{flag}" /></td>
									<td><input type="submit" class="btn btn-expense w-100" value="更新" /></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
		<!-- jQuery, Popper.js, BootStrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/editselect.js" th:src="@{/js/editselect.js}"></script>
		<script src="/js/main.js" th:src="@{/js/main.js}"></script>
	</body>
</html>