<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/show.css}">
		<link rel="stylesheet" th:href="@{/css/balance.css}">
	</head>
<body>
	<!-- 共通ヘッダ -->
	<header class="header" id="header"></header>
	<div class="header-space"></div>
	<!-- 収支一覧ページ -->
	<div class="contents-90">
		<div class="balance-list-page">
			<!-- 収支一覧ページ【上部】 -->
			<p class="text-danger" th:if="${errorMessage}">不正なパラメータが入力されました</p>
			<div class="balance-list-header">
				<form th:action="@{/premiere/balance/last/{lastYearToMonth}(lastYearToMonth=${lastYearToMonth})}" th:method="get" class="btn-last">
					<input type="submit" value="◀ 先月" class="btn custom-btn">
				</form>
				<form th:action="@{/premiere/balance/next/{nextYearToMonth}(nextYearToMonth=${nextYearToMonth})}" th:method="get" class="btn-next">
					<input type="submit" value="翌月 ▶" class="btn custom-btn">
				</form>
			</div>
			<p class="title-month" th:text="${yearMonth}"></p>

			<!-- 収支合算テーブル -->
			<table class="table balance-amount-table">
				<thead>
					<tr>
						<th>収入</th>
						<th></th>
						<th>支出</th>
						<th></th>
						<th>収支</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="money" th:text=${income}></td>
						<td class="symbol">－</td>
						<td class="money" th:text=${expense}></td>
						<td class="symbol">＝</td>
						<td id="result" class="amount money" th:text=${amount}></td>
					</tr>
				</tbody>
			</table>
			<div class="chart-area">
				<div th:if="${#lists.size(balanceIncome) > 0}">
					<div class="income-chart">
						<canvas class="pie_chart" id="incomePieChart"></canvas>
					</div>
				</div>
				<div th:if="${#lists.size(balanceIncome) == 0}" class="income-error">
					収入データがありません
				</div>
				<div th:if="${#lists.size(balanceExpense) > 0}">
					<div class="expense-chart">
						<canvas class="pie_chart" id="expensePieChart"></canvas>
					</div>
				</div>
				<div th:if="${#lists.size(balanceExpense) == 0}" class="expense-error">
					支出データがありません
				</div>

			</div>
			<div class="show-income-balance">
				<table border="1">
					<tr>
						<th>カテゴリ</th>
						<th>金額</th>
					</tr>
		 			<tr th:each="balance : ${balanceIncome}">
						<td class="income_category" th:text="${balance.majorCategoryName}"></td>
						<td class="income_amount" th:text="${balance.amount}"></td>
					</tr>
				</table>
			</div>
			<div class="show-expense-balance">
				<table border="1">
					<tr>
						<th>カテゴリ</th>
						<th>金額</th>
					</tr>
		 			<tr th:each="balance : ${balanceExpense}" class="expenses">
						<td class="expense_category" th:text="${balance.majorCategoryName}"></td>
						<td class="expense_amount" th:text="${balance.amount}"></td>
					</tr>
				</table>
			</div>

			<!-- 収支一覧テーブル -->
			<div class="show-balance">
				<table class="table balance-list-table table-bordered table-hover" id="balance-table">
					<thead>
						<tr>
							<th width="100px">日付</th>
							<th width="90px">収支</th>
							<th width="180px">カテゴリ</th>
							<th width="180px">サブカテゴリ</th>
							<th width="130px">金額</th>
							<th class="130px">メモ</th>
							<th width="198px"></th>
						</tr>
					</thead>
					<tbody>
			 			<tr th:each="balance : ${balances}">
							<td class="text-center" th:text="${#dates.format(balance.accrualDate, 'yyyy/MM/dd')}"></td>
							<th:block th:if="${balance.flag == 0}">
								<td class="text-center" th:text="収入"></td>
							</th:block>
							<th:block th:if="${balance.flag == 1}">
								<td class="text-center" th:text="支出"></td>
							</th:block>
							<td class="text-center" th:text="${balance.majorCategoryName}"></td>
							<td class="text-center" th:text="${balance.subCategoryName}"></td>
							<td class="money money-td" th:text="${balance.amount}"></td>
							<td class="memo-td text-truncate text-center">
								<span th:text="${balance.memo}" class="d-inline-block text-truncate" style="max-width: 200px;"></span>
							</td>
							<td>
								<form th:action="@{/premiere/balance/edit/{id}(id=${balance.id})}" th:method="get" class="edit-form">
									<input type="submit" class="btn btn-expense edit-btn" value="編集">
								</form>
								<form th:action="@{/premiere/balance/delete/{id}(id=${balance.id})}" th:method="delete" class="delete-form">
									<input type="submit" class="btn btn-danger delete-btn" value="削除">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- jQuery, Popper.js, BootStrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
	<script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
	<script src="/js/main.js" th:src="@{/js/main.js}"></script>
	<script src="/js/expensechart.js" th:src="@{/js/expensechart.js}"></script>
	<script src="/js/incomechart.js" th:src="@{/js/incomechart.js}"></script>
	<script src="/js/top.js" th:src="@{/js/top.js}"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>