<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/show.css}">
		<link rel="stylesheet" th:href="@{/css/balance.css}">
	</head>
<body>
	<!-- 共通ヘッダ -->
	<header class="header" id="header"></header>
	<div class="header-space"></div>
	<!--  収支一覧ページ -->
	<form th:action="@{/premiere/balance/detail/}" th:object="${formModel}" th:method="get">
		<table>
			<tr>
				<td><label for="name">開始日</label></td>
				<td><input type="date" name="strDate" th:field="*{strDate}" /></td>
				<td><label for="name">終了日</label></td>
				<td><input type="date" name="endDate" th:field="*{endDate}" /></td>
				<td><label for="name">カテゴリ</label></td>
				<td>
					<select name="majorCategoryId"  class="parent" th:field="*{majorCategoryId}">
						<option selected value="">選択してください</option>
						<option th:each="majorCategory : ${majorCategories}" th:value="${majorCategory.key}" th:text="${majorCategory.value}">
					</select>
				</td>
				<td>
					<select name="subCategoryId" class="children" th:field="*{subCategoryId}">
						<option selected value="">選択してください</option>
						<option th:each="subCategory : ${subCategories}" th:value="${subCategory.key}" th:text="${subCategory.value}">
					</select>
				</td>
				<td><input type="submit" value="登録" /></td>
			</tr>
		</table>
	</form>

	<!-- 収支合算テーブル -->
	<div class="show-balance">
		<table class="table balance-list-table table-bordered table-hover">
		<thead>
			<tr>
				<th width="100px">日付</th>
				<th width="60ox">収支</th>
				<th width="130px">カテゴリ</th>
				<th width="150px">サブカテゴリ</th>
				<th width="150px">金額</th>
				<th class="memo-th">メモ</th>
				<th width="198px"></th>
			</tr>
		</thead>
		<tbody>
 			<tr th:each="balance : ${balances}">
				<td th:text="${#dates.format(balance.accrualDate, 'yyyy/MM/dd')}"></td>
				<th:block th:if="${balance.flag == 0}">
					<td th:text="収入"></td>
				</th:block>
				<th:block th:if="${balance.flag == 1}">
					<td th:text="支出"></td>
				</th:block>
				<td th:text="${balance.majorCategoryName}"></td>
				<td th:text="${balance.subCategoryName}"></td>
				<td  class="money money-td" th:text="${balance.amount}"></td>
				<td class="memo-td text-truncate">
					<span th:text="${balance.memo}" class="d-inline-block text-truncate" style="max-width: 280px;"></span>
				</td>
				<td>
					<form th:action="@{/premiere/balance/edit/{id}(id=${balance.id})}" th:method="get" class="edit-form">
						<input type="submit" class="btn btn-expense edit-btn" value="編集">
					</form>
					<form th:action="@{/premiere/balance/delete/{id}(id=${balance.id})}" th:method="delete" class="delete-form">
						<input type="submit" class="btn btn-danger delete-btn" value="削除">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	</div>

	<input type="hidden" id="selflag" value="0">
			<!-- jQuery, Popper.js, BootStrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<script src="/js/main.js" th:src="@{/js/main.js}"></script>
	<script src="/js/expensechart.js" th:src="@{/js/expensechart.js}"></script>
	<script src="/js/incomechart.js" th:src="@{/js/incomechart.js}"></script>
	<script src="/js/select.js" th:src="@{/js/select.js}"></script>
</body>
</html>