<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<main>
			<!-- 共通ヘッダ -->
			<header class="header" id="header"></header>
			<div class="header-space"></div>
			<!-- 主要部分 -->
			<div class="contents">
				<div class="user-edit-form">
					<div class="page-title">ユーザ編集</div>
					<div class="solid-line"></div>
					<!-- エラー表示部 -->
					<table class="table user-edit-table table-bordered">
					<form th:method="post" th:action="@{/user/edit/{id}(id=*{id})}" th:object="${formModel}">
						<tbody>
							<tr>
								<th class="col-4">ユーザー名</th>
								<td class="col-8">
									<input type="text" value="name" th:field="*{name}" class="form-control"
										placeholder="1文字以上 20文字以下" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" />
									<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</td>
							</tr>
							<tr>
								<th>アカウント名</th>
								<td>
									<input type="text" value="account" th:field="*{account}" class="form-control"
										placeholder="6文字以上 30文字以下" th:classappend="${#fields.hasErrors('account')} ? 'is-invalid'" />
									<span class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span>
									<th:block th:if="${errorMessages != null}">
										<th:block th:each="error : ${errorMessages}">
											<span th:text="${error}" class="error-message"></span>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>パスワード<input type="password" autocomplete="password" style="position:absolute;top:-200px;"/></th>
								<td>
									<input type="password" th:field="*{password}" class="form-control"
										placeholder="変更する場合のみ入力してください" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" />
									<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
										Name Error
									</span>
									<th:block th:each="error : ${passwordErrorMessages}">
											<span th:text="${error}" class="error-message"></span>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>パスワード（確認用）</th>
								<td>
									<input type="password" th:field="*{confirmPassword}" class="form-control"
										placeholder="変更する場合のみ入力してください" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'" />
								</td>
							</tr>
							<tr>
								<th></th>
								<td><input type="submit" value="更新" class="btn btn-marine w-100" /></td>
							</tr>
						</tbody>
					</form>
					</table>
				</div>
			</div>
        </main>
		<!-- jQuery, Popper.js, BootStrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/main.js" th:src="@{/js/main.js}"></script>
	</body>
</html>