@charset "UTF-8";

/* 【収支一覧ページ】 balance/show.html */
	.contents-90 {
		width: 80%;
		margin: 30px auto;
	}
	.balance-list-page {
		color: #696969;
	}
	.balance-list-page p {
		margin-bottom: 30px !important;
	}
	.show-balance {
		clear: both;
		text-align:center;
	}
	.show-balance .container-fluid {
		padding: 0px !important;
	}
	.btn-last {
		float: left;
	}
	.btn-next {
		float: right;
	}
	.title-month {
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.custom-btn {
		border: 1px solid #696969;
		color: #696969;
	}
	/* パイチャート */
	.chart-area {
		position: relative;
		width: 100%;
		height: 400px;
		margin: 0 auto  20px auto;
		border: 1px dotted #CCC;
		box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
	}
	.income-error{
	    height: 100px;
	    position: absolute;
	    left: 0;
	    right: 1;
	    top: 0;
	    bottom :0;
	    margin:  auto;
	    left: 15%;
		font-size: 20px;
	}
	.expense-error{
	    height: 100px;
	    position: absolute;
	    left: 1;
	    right: 0;
	    top: 0;
	    bottom :0;
	    margin:  auto;
	    right: 15%;
	    font-size: 20px;
	}

	/* 収支合算テーブル */
	.balance-amount-table {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: #FFF;
		border: 1px dotted #CCC;
	}
	.balance-amount-table th {
		color: #FFF;
		border-bottom: 1px solid #FFF !important;
		background-color: rgba(81,83,86,0.5);
	}
	/* 収支一覧テーブル */
	.balance-list-table {
		border: 1px dotted #CCC;
		font-size: 1.6vh;
		box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
	}
	.balance-list-table th {
		color: #FFF;
		border-bottom: 1px solid #FFF !important;
		background-color: rgba(81,83,86,0.5);
		font-size: 1.3em;
	}
	.balance-list-table td {
		vertical-align: middle;
		text-align: left;
		font-size: 1.2em
	}
	.money-td {
		text-align: right !important;
	}
	.edit-btn,
	.delete-btn {
		width: 48%;
		float: left;
	}
	.edit-btn {
		margin-right: 3px;
	}

/* 【収支登録ページ】 balance/add.html */
	.balance-add-page {
		width: 50%;
		margin: 30px auto;
		color: #696969;
		background-color: #FFF;
	}
	.income-table, .expense-table {
		color: #696969;
		background-color: #FFF;
		margin-bottom: 0px;
	}
	.incomeparent, .parent {
		margin-bottom: 10px;
	}
	.balance-add-page th,
	.balance-add-page td {
		border: 0px none;
		padding: 3px;
	}
	#sel-ex-major,
	#parent-income {
		margin-bottom: 5px;
	}

/* タブパネル ： 【収支登録ページ】 */
	.tab_box {
		box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
	}
	.add_form {
		padding: 10px;
	}
	.income-form {
		border: 1px solid rgba(255, 140, 0, 1);
	}
	.expense-form {
		border: 1px solid rgba(7, 83, 159, 1);
	}
	.tab_box .btn_area {
		display: -webkit-box;
		display: flex;
	}
	.tab_box .btn_area p {
		margin-bottom: 0px;
	}
	.tab_box .tab_btn {
		width: 188px;
		padding: 8px 0;
		color: #333;
		background: #f5f7f8;
		border-radius: 10px 10px 0px 0px;
		text-align: center;
		cursor: pointer;
		transition: all 0.2s ease 0s;
	}
	.income-tab.active {
		background: rgba(255, 140, 0, 1);
		color:#fff;
		font-weight: bold;
	}
	.income-tab:hover {
		background: rgba(255, 140, 0, 0.5);
	}
	.expense-tab.active {
		background: rgba(7, 83, 159, 1);
		color:#fff;
		font-weight: bold;
	}
	.expense-tab:hover {
		background: rgba(7, 83, 159, 0.5);
	}
	.tab_box .tab_btn + .tab_btn {
		margin-left: 8px;
	}
	.tab_box .add_form {
	    display:none;
	}
	.tab_box .add_form.active {
	    display:block;
	}
	.btn-income {
		color: #fff;
	    background: rgba(255, 140, 0, 0.7);
	    border-color: rgba(255, 140, 0, 0.7);
	}
	.btn-income:hover {
		color: #fff;
	    background: rgba(255, 140, 0, 1);
	    border-color: rgba(255, 140, 0, 1);
	}
	.btn-expense {
		color: #fff;
	    background: rgba(7, 83, 159, 0.7);
	    border-color: rgba(7, 83, 159, 0.7);
	}
	.btn-expense:hover {
		color: #fff;
	    background: rgba(7, 83, 159, 1);
	    border-color: rgba(7, 83, 159, 1);
	}

/* 【収支一覧ページ】 balance/detail.html */
	.memo-th {
		width: 100px !important;
	}
	.sort-form {
		float: left;
		margin-bottom: 10px;
	}
	.sort-form .parent{
		margin: 0px;
	}
	.sort-submit {
		float: left;
		width: 100px;
		text-align: center;
	}
	.sort-btn {
		height: 84px;
	}
	.sort-table {
		width: 880px;
		height: 40px;
		margin-bottom: 3px;
		margin-right: 10px;
	}
	.sort-table td {
		vertical-align: middle;
		text-align: center;
		border: 0px none;
		padding: 1px;
	}

/* 【収支編集】 */
	.balance-edit-page {
		width: 50%;
		margin: 0 auto;
		color: #696969;
	}
	.balance-edit-form {
		border: 1px dotted #CCC;
		padding: 10px;
		box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
	}
	.balance-edit-form table{
		margin-bottom: 0px;
	}
	.balance-edit-table,
	.balance-edit-table td {
		border: 0px none;
	}