@charset "UTF-8";

.header {
	border-bottom: 3px #EEE solid;
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.header-area {
	position: fixed;
	top: 0px;
	z-index: 10;
}
.header-space {
	height: 90px;
	width: 100%;
}
header a {
	opacity: 0.6;
	color: #FFF;
	text-decoration: none;
}
header a:hover {
	color: #FFF;
	opacity: 1;
}
.active a {
	opacity: 1;
}

.header-area {
	width: 100vw;
	height: 90px;
	/* background-color: #2a93d5; */
	background: rgb(0,85,217);
	background: linear-gradient(90deg, rgba(0,85,217,1) 0%, rgba(33,135,255,1) 40%, rgba(40,159,219,1) 73%);
	color: #FFF;
}

/* 【ヘッダー左部】 */
.header-title {
	height: 90px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}
.title-image {
	float:left;
	width: 60px;
	height: 60px;
}
.title-logo {
	float: left;
	margin-left: 8px;
	margin-bottom: 0px;
}
.title-logo a {
	opacity: 1;
}
.title-logo a:hover {
	text-decoration: none;
}
/* 【ヘッダー右部】 */
.header-nav {
	height: 90px;
	float: right;
	display: table;
}
nav {
	position: relative;
}
nav .line {
	position: absolute;
	bottom: 0;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
nav ul li {
	margin: 0 20px 0 0;
	transition: all 0.4 ease;
}
nav ul li.active {
	opacity: 1;
	font-size: 20px;
	font-weight: bold;
	margin-top: -3px;
}
.nav-menu {
	letter-spacing: 2px;
	padding: 0 30px;
	display: table-cell;
	vertical-align: middle;
}
#nav-menu ul li {
	float: left;
	position: relative;
	transition: all 0.4s ease;
}
.active {
}
#nav-menu ul li a {
	padding: 0 15px;
}
/* ボタン */
.custom-button {
	color: #FFF;
	border: 0px;
	background-color: transparent;
	opacity: 0.6;
}
.custom-button:hover {
	text-decoration: underline;
	opacity: 1;
}