@charset "UTF-8";

.show-income-balance{
	display:none;
}

.show-expense-balance{
	display:none;
}
.income-chart{
	padding: 20px;
	width: 50%;
	height: 375px;
	float: left;
}
.expense-chart{
	padding: 20px;
	width: 50%;
	height: 375px;
	float: right;
}

.test-area {
	clear: both;
}
.title_month{
    margin-top: 20px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}