@charset "UTF-8";

/* 全頁共通スタイル */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
}
main {
	background-color: #FFF;
	height: 100vh;
	width: 100vw;
	color: #696969;
}
body {
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
	background-position-y: 200px;
	background-color:rgba(255,255,255,0.9);
	background-blend-mode:lighten;
}
.btn-marine {
	background: rgba(7, 83, 159, 0.7);
	border: rgba(7, 83, 159, 0.7);
	color: #FFF;
}
.btn-marine:hover {
	background: rgba(7, 83, 159, 1);
	border: rgba(7, 83, 159, 0.7);
	color: #FFF;
}
.contents {
	width: 80%;
	margin: 0 auto;
	padding: 30px 0;
}
.page-title {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 7px;
	margin-bottom: 15px;
}
.solid-line {
	height: 1px;
	background-color: #DDD;
	box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
}
.error-message {
	color: #dc3545;
}
/* 【ログインページ】 */
.login-page {
	width: 50%;
	margin: 0 auto;
}
.login-btn {
	margin-top: 20px;
}
.login-form {
	width: 100%;
	margin: 20px 0;
}
.login-form .form-group {
	margin-top: 10px;
}

/* フォーム関連CSS */
	.form-group {
		margin-bottom: 0 !important;
	}
	.user-signup-form {
		width: 60%;
		margin: 0 auto;
	}
	.user-signup-form .btn {
		padding: 5px 30px;
	}
	.user-signup-table, .user-edit-table {
		margin-top: 15px;
	}
	.user-signup-table th, .user-edit-table th {
		background-color: #edfafd;
		color: #696969;
	}
/* 【ユーザ編集】 */
	.user-edit-form {
		width: 60%;
		margin: 0 auto;
	}
	.user-edit-table {
		box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
	}
	.user-edit-table th {
		color: #FFF;
		background: rgba(7, 83, 159, 0.7);
	}

/* 【ロゴ画像】 */
	.logo-area{
		text-align: center;
	}
	.logo-png{
	    width: 30%;
	}
