<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" th:href="@{/css/header.css}">
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	</head>
	<body>
		<div class="header-area" id="top-head">
			<div class="header-title">
				<img th:src="@{/images/logo_white.png}" class="title-image">
				<h2 class="title-logo"><a href="/premiere/balance">Premiere</a></h2>
			</div>
			<div class="header-nav">
				<nav class="nav-menu" id="nav-menu">
					<ul>
						<th:block th:if="${loginUser != null}">
							<li><a href="/premiere/balance">TOP</a></li>
							<li><a href="/premiere/balance/detail">一覧</a></li>
							<li><a href="/premiere/balance/add">登録</a></li>
							<li><a th:href="@{/user/edit/{id}(id=${loginUser.id})}">アカウント編集</a></li>
							<li>
								<form th:action="@{/logout}" name="logoutForm" id="logoutForm" th:method="post">
									<input type="submit" value="ログアウト" class="custom-button" id="logoutForm"/>
								</form>
							</li>
						</th:block>
					</ul>
				</nav>
			</div>
		</div>
		<!-- jQuery, Popper.js, BootStrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/header.js" th:src="@{/js/header.js}"></script>
	</body>
</html>