<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere ログイン</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<main>
			<!-- 共通ヘッダ -->
			<header class="header" id="header"></header>
			<div class="header-space"></div>
			<!-- 主要部分 -->
			<div class="contents">
				<div class="login-page">
					<div class="logo-area">
						<img class="logo-png" th:src="@{/images/logo.png}" />
					</div>
					<p th:if="${showErrorMsg}" class="text-danger" th:text="${errorMsg}"></p>
					<div class="login-form">
						<form method="post" th:action="@{/login}">
							<div class="form-group">
								<label for="account">アカウント名</label>
								<input type="text" name="username"  id="account" class="form-control"/>
							</div>
							<div class="form-group">
								<label for="password">パスワード</label>
								<input type="password" name="password" id="password" class="form-control"/></label>
							</div>
							<div class="login-btn">
								<input type="submit" value="ログイン" class="btn btn-primary w-100"/>
							</div>
						</form>
					</div>
					<div class="announce">
						<a href="/signup">登録がまだの方はこちらから会員登録してください。</a>
					</div>
				</div>
			</div>
		</main>
		<!-- jQuery, Popper.js, BootStrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/main.js" th:src="@{/js/main.js}"></script>
		<script>
		$(function() {
			$("#logoutForm").on('click', function() {
				if(confirm("ログアウトしますか？")) {

				} else {
					return false;
				}
			})
		});
		</script>
	</body>
</html>