<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Premiere 編集画面</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<main>
			<!-- 共通ヘッダ -->
			<header class="header" id="header"></header>
			<div class="header-space"></div>
			<!-- 主要部分 -->
			<div class="contents">
				<div class="user-signup-form">
					<div class="page-title">新規登録</div>
					<div class="solid-line"></div>
					<!-- 新規登録フォーム -->
					<table class="table user-signup-table table-bordered">
					<form th:method="post" th:action="@{/signup}" th:object="${formModel}">
						<tbody>
							<tr>
								<th class="col-3">ユーザー名</th>
								<td class="col-9">
									<div class="form-group" >
										<input type="text" name="name" th:value="*{name}" class="form-control"
											placeholder="1文字以上 20文字以下" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
										<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
											Name Error
										</span>
									</div>
								</td>
							</tr>
							<tr>
								<th>アカウント名</th>
								<td>
									<div class="form-group" >
										<input type="text" name="account" th:value="*{account}" class="form-control"
											placeholder="6文字以上 30文字以下" th:classappend="${#fields.hasErrors('account')} ? 'is-invalid'"/>
										<span class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span>
										<th:block th:if="${errorMessages != null}">
											<th:block th:each="error : ${errorMessages}">
												<span th:text="${error}" class="error-message"></span>
											</th:block>
										</th:block>
									</div>
								</td>
							</tr>
							<tr>
								<th>パスワード</th>
								<td>
									<div class="form-group" >
										<input type="text" name="password" th:value="*{password}" class="form-control"
											placeholder="6文字以上 20文字以下" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
										<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>パスワード (確認用)</th>
								<td>
									<div class="form-group" >
										<input type="text" name="confirmPassword" th:value="*{confirmPassword}" class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
										<span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th></th>
								<td><input type="submit" value="新規登録" class="btn btn-primary w-100"/></td>
							</tr>
						</tbody>
					</form>
					</table>
					<div class="announce">
						<a href="/login">既に登録済みの方はこちらからログインしてください。</a>
					</div>
				</div>
			</div>
        </main>
		<!-- jQuery, Popper.js, BootStrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="/js/main.js" th:src="@{/js/main.js}"></script>
	</body>
</html>